Vagrant.configure("2") do |config|
  config.vm.box = "hashicorp/bionic64"
  config.vm.network "public_network", ip: "{{ vagrant_singlevm_ip }}", bridge: "{{ vagrant_singlevm_network_adapter }}"
  config.vm.hostname = "bionic01"
  config.vm.provider "virtualbox" do |v|
    v.memory = 2048
    v.cpus = 2
  end
  config.vm.provision "shell", inline: <<-SHELL
    sudo apt-get update
    sudo apt-get -y upgrade
  SHELL
end
